/audacious 
/autostart
/Code
/dconf 
/enchant
/evolution
/gedit
/Google
/goa-1.0
/gnome-session
gnome-initial-setup-done
/google-chrome
/gtk-3.0
/gtk-4.0
/ibus
/JetBrains
/mimeapps.list
/nautilus
/pulse
/systemd
/update-notifier 
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
gh/hosts.yml
